
    <footer>
        <div class="copyright">
            <p>Copyright © <%= year %></p>
            <p>Tüm hakları saklıdır. Yazılımcıya iltifat etmeyi unutmayın.</p>
        </div>
        <h2>Made with ❤️ by Teke</h2>
    </footer>

</body>
</html>