<%- include("partials/header.ejs") %>
<div class="controller">
    <div class="container">
        <div class="main-container grid">
            <img src="images/_pp.jpg" alt="Profile Image">
            <h1>Meçhul yazılımcı</h1>
            <p class="username">@teke_08</p>
            <ul class="sevilenler">
                <li class="sev-item">Yeteneklerini yüceltin.</li>
                <li class="sev-item">Çalışmalarının övün.</li>
                <li class="sev-item">Projelerini takdir edin.</li>
            </ul>
            <div class="insta"><img src="images/_insta.webp" alt="instsa"><p>@insta_suername</p></div>
            <div class="github"><img src="images/_github.png" alt="github"><p>@github</p></div>
            <div class="spotify"><img src="images/_spotify.png" alt="spotify"><p>@spotify</p></div>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>
